[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "sources/--force"]
	path = sources/--force
	url = https://github.com/JeffyCN/meta-rockchip.git
[submodule "sources/meta-rockchip"]
	path = sources/meta-rockchip
	url = https://github.com/radxa/meta-rockchip.git
[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = git://git.yoctoproject.org/meta-arm
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = git://code.qt.io/yocto/meta-qt5.git
[submodule "sources/meta-rockchip-radxa"]
	path = sources/meta-rockchip-radxa
	url = https://github.com/radxa/meta-rockchip.git
